afternoon_df_2015.csv
afternoon_df_2016.csv
afternoon_df_2017.csv
afternoon_df_2018.csv
afternoon_df_2019.csv
df_norm_2019.csv
df_norm_2018.csv
df_norm.csv
linkIds.csv
mean_afternoon.csv
mean_morning.csv
mean.csv
means_{year}.csv
means_2016.csv
merged_df_afternoon.csv
merged_df_morning.csv
merged_df_norm.csv
morning_df_2015.csv
morning_df_2016.csv
morning_df_2017.csv
morning_df_2018.csv
morning_df_2019.csv
test.csv
traffic_data_clean_2015.csv
traffic_data_clean_2016.csv
traffic_data_clean_2017.csv
traffic_data_clean_2018.csv
traffic_data_clean_2019.csv
traffic_data_clean.csv
users.csv
std_afternoon.csv
std_morning.csv
std.csv
df_norm.csv
wget-log
.ipynb_checkpoints/anom-checkpoint.ipynb
.ipynb_checkpoints/clean-checkpoint.py
.ipynb_checkpoints/eda_NY-checkpoint.ipynb
.ipynb_checkpoints/eda_NY-Copy1-checkpoint.ipynb
.ipynb_checkpoints/eda_PA-checkpoint.ipynb
.ipynb_checkpoints/eda_USA-checkpoint.ipynb
.ipynb_checkpoints/eda-checkpoint.ipynb
.ipynb_checkpoints/outcome-checkpoint.ipynb
.ipynb_checkpoints/test_api-checkpoint.ipynb
.ipynb_checkpoints/train_model_no_weather-checkpoint.ipynb
.ipynb_checkpoints/train_model_weather-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/utils-checkpoint.py
__pycache__/alert.cpython-38.pyc
__pycache__/clean.cpython-38.pyc
__pycache__/forecast.cpython-38.pyc
__pycache__/utils.cpython-38.pyc
no_weather_afternoon/saved_model.pb
no_weather_afternoon/variables/variables.data-00000-of-00001
no_weather_afternoon/variables/variables.index
no_weather_morning/saved_model.pb
no_weather_morning/variables/variables.data-00000-of-00001
no_weather_morning/variables/variables.index
weather_afternoon/saved_model.pb
weather_afternoon/variables/variables.data-00000-of-00001
weather_afternoon/variables/variables.index
weather_morning/saved_model.pb
weather_morning/variables/variables.data-00000-of-00001
weather_morning/variables/variables.index
