afternoon_df_2015.csv
afternoon_df_2016.csv
afternoon_df_2017.csv
afternoon_df_2018.csv
afternoon_df_2019.csv
df_norm_2019.csv
df_norm_2018.csv
df_norm.csv
mean.csv
means_{year}.csv
means_2016.csv
merged_df_afternoon.csv
merged_df_morning.csv
merged_df_norm.csv
morning_df_2015.csv
morning_df_2016.csv
morning_df_2017.csv
morning_df_2018.csv
morning_df_2019.csv
test.csv
traffic_data_clean_2015.csv
traffic_data_clean_2016.csv
traffic_data_clean_2017.csv
traffic_data_clean_2018.csv
traffic_data_clean_2019.csv
traffic_data_clean.csv
std.csv
df_norm.csv
wget-log
.ipynb_checkpoints/anom-checkpoint.ipynb
.ipynb_checkpoints/clean-checkpoint.py
.ipynb_checkpoints/eda_NY-checkpoint.ipynb
.ipynb_checkpoints/eda_NY-Copy1-checkpoint.ipynb
.ipynb_checkpoints/eda_PA-checkpoint.ipynb
.ipynb_checkpoints/eda_USA-checkpoint.ipynb
.ipynb_checkpoints/eda-checkpoint.ipynb
.ipynb_checkpoints/outcome-checkpoint.ipynb
.ipynb_checkpoints/test_api-checkpoint.ipynb
.ipynb_checkpoints/train_model_no_weather-checkpoint.ipynb
.ipynb_checkpoints/train_model_weather-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/utils-checkpoint.py
__pycache__/alert.cpython-38.pyc
__pycache__/clean.cpython-38.pyc
__pycache__/forecast.cpython-38.pyc
__pycache__/utils.cpython-38.pyc
no_weather_afternoon/saved_model.pb
no_weather_afternoon/variables/variables.data-00000-of-00001
no_weather_afternoon/variables/variables.index
no_weather_morning/saved_model.pb
no_weather_morning/variables/variables.data-00000-of-00001
no_weather_morning/variables/variables.index
weather_afternoon/saved_model.pb
weather_afternoon/variables/variables.data-00000-of-00001
weather_afternoon/variables/variables.index
weather_morning/saved_model.pb
weather_morning/variables/variables.data-00000-of-00001
weather_morning/variables/variables.index
.ipynb_checkpoints/clean-checkpoint.ipynb
.ipynb_checkpoints/test_forecast-checkpoint.ipynb
.ipynb_checkpoints/train_model_no_weather-Copy1-checkpoint.ipynb
.ipynb_checkpoints/train_model_weather-Copy1-checkpoint.ipynb
__pycache__/main.cpython-38.pyc
weather_afternoon_test/saved_model.pb
weather_afternoon_test/variables/variables.data-00000-of-00001
weather_afternoon_test/variables/variables.index
weather_morning_test/saved_model.pb
weather_morning_test/variables/variables.data-00000-of-00001
weather_morning_test/variables/variables.index
train_model_no_weather-Copy1.ipynb
train_model_weather-Copy1.ipynb
main.py
.vscode/settings.json
api/src/__pycache__/__init__.cpython-38.pyc
api/src/__pycache__/html.cpython-38.pyc
api/src/__pycache__/model.cpython-38.pyc
api/src/__pycache__/rest.cpython-38.pyc
api/src/__pycache__/user.cpython-38.pyc
notebooks/weather_afternoon/saved_model.pb
notebooks/weather_afternoon/variables/variables.data-00000-of-00001
notebooks/weather_afternoon/variables/variables.index
notebooks/weather_afternoon_test/saved_model.pb
notebooks/weather_afternoon_test/variables/variables.data-00000-of-00001
notebooks/weather_afternoon_test/variables/variables.index
notebooks/weather_morning/saved_model.pb
notebooks/weather_morning/variables/variables.data-00000-of-00001
notebooks/weather_morning/variables/variables.index
notebooks/weather_morning_test/saved_model.pb
notebooks/weather_morning_test/variables/variables.data-00000-of-00001
notebooks/weather_morning_test/variables/variables.index
src/.setup.py.swp
src/__pycache__/__init__.cpython-38.pyc
src/__pycache__/html.cpython-38.pyc
src/__pycache__/model.cpython-38.pyc
src/__pycache__/rest.cpython-38.pyc
src/__pycache__/user.cpython-38.pyc
forecast/.ipynb_checkpoints/clean-checkpoint.py
forecast/.ipynb_checkpoints/forecast-checkpoint.py
forecast/.ipynb_checkpoints/test_api-checkpoint.ipynb
forecast/__pycache__/clean.cpython-38.pyc
forecast/__pycache__/forecast.cpython-38.pyc
src/.ipynb_checkpoints/user-checkpoint.py
templates/.forecast.html.swp
clean/clean/__pycache__/__init__.cpython-38.pyc
clean/clean.egg-info/dependency_links.txt
clean/clean.egg-info/not-zip-safe
clean/clean.egg-info/PKG-INFO
clean/clean.egg-info/SOURCES.txt
clean/clean.egg-info/top_level.txt
clean/dist/clean-0.0.1-py3.8.egg
clean/dist/clean-0.1-py3.8.egg
forecast/dist/forecast-0.1-py3.8.egg
forecast/forecast.egg-info/dependency_links.txt
forecast/forecast.egg-info/not-zip-safe
forecast/forecast.egg-info/PKG-INFO
forecast/forecast.egg-info/SOURCES.txt
forecast/forecast.egg-info/top_level.txt
env_file.env
clean/dist/clean-0.3-py3.8.egg
clean/build/lib/clean/__init__.py
clean/build/lib/clean/__init__.py
clean/build/lib/clean/__init__.py
.gitignore
