fastapi==0.61.1
Flask==1.1.2
matplotlib==3.3.2
numpy==1.18.5
pandas==1.0.5
pandas-market-calendars==1.6.0
scipy==1.4.1
tensorflow==2.3.0
tensorflow-estimator==2.3.0
tqdm==4.47.0
uvicorn==0.11.8
fastapi==0.61.1